USE [master]
GO
/****** Object:  Database [COMPONENT_MANAGER]    Script Date: 15/10/2024 7:07:00 PM ******/
CREATE DATABASE [COMPONENT_MANAGER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMPONENT_MANAGER', FILENAME = N'D:\MSSQLSERVER\MSSQL14.MSSQLSERVER\MSSQL\DATA\COMPONENT_MANAGER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COMPONENT_MANAGER_log', FILENAME = N'D:\MSSQLSERVER\MSSQL14.MSSQLSERVER\MSSQL\DATA\COMPONENT_MANAGER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMPONENT_MANAGER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMPONENT_MANAGER]
GO
/****** Object:  Table [dbo].[ComponentIn]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentIn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[Provider] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ComponentIn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Component]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Level] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Name] [nvarchar](max) NULL,
	[Category] [nvarchar](500) NULL,
	[Provider] [nvarchar](500) NULL,
	[Secssion] [nvarchar](500) NULL,
	[Amount] [int] NULL,
	[Min] [int] NULL,
 CONSTRAINT [PK_Component] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ComponentInView]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ComponentInView] 
As
select c.Model as 'Model', c.Quantity as 'Số lượng', c.Provider as 'Nhà cung cấp', cIn.NgayNhap as 'Ngày nhập', cIn.Price as 'Giá', cIn.Note as 'Ghi chú' from Component as c
left join ComponentIn as cIn on c.Model = cIn.Model 
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Test] [nchar](10) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentOut]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentOut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UsageDate] [datetime] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[RequestBy] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ComponentOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Birthday] [datetime] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[ChucVu] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportanceLevels]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportanceLevels](
	[Id] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Noti]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[NotiType] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[IsHandled] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Noti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [varchar](20) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserCode] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 15/10/2024 7:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserCode] [nvarchar](max) NULL,
	[RodeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [Description], [Test]) VALUES (1, N'Linh kiện khác', N'Các loại linh kiện khác', NULL)
INSERT [dbo].[Category] ([Id], [Name], [Description], [Test]) VALUES (2, N'Connecter', N'Dùng để kết nối các dây dẫn với nhau', NULL)
INSERT [dbo].[Category] ([Id], [Name], [Description], [Test]) VALUES (3, N'Terminal', N'Dùng để kết nối dây dẫn với các thiết bị hoặc connector.', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Component] ON 

INSERT [dbo].[Component] ([Id], [Level], [Model], [Name], [Category], [Provider], [Secssion], [Amount], [Min]) VALUES (9, N'S', N'C-20241002143611', N'L01', N'Linh kiện khác', N'SS', N'Cái', 21, 10)
INSERT [dbo].[Component] ([Id], [Level], [Model], [Name], [Category], [Provider], [Secssion], [Amount], [Min]) VALUES (10, N'A', N'C-20241002143746', N'T01', N'Terminal', N'SS', N'Cái', 12, 15)
INSERT [dbo].[Component] ([Id], [Level], [Model], [Name], [Category], [Provider], [Secssion], [Amount], [Min]) VALUES (11, N'A', N'C-20241002151930', N'S01', N'Sensors', N'SS', N'Bao', 12, 12)
SET IDENTITY_INSERT [dbo].[Component] OFF
GO
SET IDENTITY_INSERT [dbo].[ComponentIn] ON 

INSERT [dbo].[ComponentIn] ([Id], [Quantity], [NgayNhap], [Provider], [Price], [Note], [Model], [Amount]) VALUES (39, 12, CAST(N'2024-09-11T00:00:00.000' AS DateTime), N'ss', 11, N'11', N'AA01', 110)
INSERT [dbo].[ComponentIn] ([Id], [Quantity], [NgayNhap], [Provider], [Price], [Note], [Model], [Amount]) VALUES (40, 12, CAST(N'2024-09-11T00:00:00.000' AS DateTime), N'ss', 11, N'11', N'AA01', 122)
INSERT [dbo].[ComponentIn] ([Id], [Quantity], [NgayNhap], [Provider], [Price], [Note], [Model], [Amount]) VALUES (41, 12, CAST(N'2024-09-11T00:00:00.000' AS DateTime), N'aa', 1111, N'111', N'C-20240922090432', 12)
SET IDENTITY_INSERT [dbo].[ComponentIn] OFF
GO
SET IDENTITY_INSERT [dbo].[ComponentOut] ON 

INSERT [dbo].[ComponentOut] ([Id], [Quantity], [UsageDate], [Reason], [RequestBy], [Model], [Amount]) VALUES (12, 22, CAST(N'2024-09-11T00:00:00.000' AS DateTime), N'11', N'24888', N'AA01', 100)
INSERT [dbo].[ComponentOut] ([Id], [Quantity], [UsageDate], [Reason], [RequestBy], [Model], [Amount]) VALUES (13, 11, CAST(N'2024-09-21T00:00:00.000' AS DateTime), N'11', N'22222', N'AA01', 89)
INSERT [dbo].[ComponentOut] ([Id], [Quantity], [UsageDate], [Reason], [RequestBy], [Model], [Amount]) VALUES (14, 11, CAST(N'2024-09-11T00:00:00.000' AS DateTime), N'11', N'22222', N'C-20240922090432', 0)
SET IDENTITY_INSERT [dbo].[ComponentOut] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [MaNV], [FullName], [Birthday], [PhoneNumber], [Department], [ChucVu], [Image]) VALUES (8, N'11111', N'Hiệp', CAST(N'2001-10-10T00:00:00.000' AS DateTime), N'0123456789', N'IT', N'Staff', N'G:\FileExport\ImageTest\20241011094759432.png')
INSERT [dbo].[Employee] ([Id], [MaNV], [FullName], [Birthday], [PhoneNumber], [Department], [ChucVu], [Image]) VALUES (9, N'22222', N'Hùng', CAST(N'2024-10-11T00:00:00.000' AS DateTime), N'0002155333', N'IT', N'Staff', N'G:\FileExport\ImageTest\20241011102934976.png')
INSERT [dbo].[Employee] ([Id], [MaNV], [FullName], [Birthday], [PhoneNumber], [Department], [ChucVu], [Image]) VALUES (10, N'33333', N'Tú', CAST(N'2010-10-11T00:00:00.000' AS DateTime), N'1234567890', N'IT', N'Staff', N'G:\FileExport\ImageTest\20241014160649223.png')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[ImportanceLevels] ([Id], [Name], [Description]) VALUES (1, N'S', N'Cấp độ thảm họa')
INSERT [dbo].[ImportanceLevels] ([Id], [Name], [Description]) VALUES (2, N'A', N'Cấp độ nguy hiểm')
INSERT [dbo].[ImportanceLevels] ([Id], [Name], [Description]) VALUES (3, N'B', N'Cấp độ cận nguy hiểm')
GO
SET IDENTITY_INSERT [dbo].[Noti] ON 

INSERT [dbo].[Noti] ([Id], [Username], [NotiType], [Quantity], [IsHandled]) VALUES (1, N'Hiệp', N'Nhập kho', 12, 1)
INSERT [dbo].[Noti] ([Id], [Username], [NotiType], [Quantity], [IsHandled]) VALUES (2, N'Hiệp', N'Nhập kho', 122, 1)
INSERT [dbo].[Noti] ([Id], [Username], [NotiType], [Quantity], [IsHandled]) VALUES (3, N'Hiệp', N'Sử dụng', 12, 1)
SET IDENTITY_INSERT [dbo].[Noti] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([Id], [UserCode], [Password], [DisplayName]) VALUES (1, N'24182', N'1', N'Hiệp')
INSERT [dbo].[UserLogin] ([Id], [UserCode], [Password], [DisplayName]) VALUES (2, N'22273', N'1', N'Phượng')
INSERT [dbo].[UserLogin] ([Id], [UserCode], [Password], [DisplayName]) VALUES (5, N'24184', N'1', N'Tú')
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
GO
ALTER TABLE [dbo].[ComponentIn] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[ComponentOut] ADD  DEFAULT ((0)) FOR [Amount]
GO
USE [master]
GO
